* {
  border: none;
  border-radius: 0;
  font-family: Fira Mono, "MaterialIcons-Regular";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: white;
}

tooltip {
  background: #000000;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #393939;
}

#workspaces button {
  color: white;
  color: rgba(255, 255, 255, 0.4);
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.2);
}

#workspaces button.active {
}

#workspaces button.focused {
  color: rgba(255, 255, 255, 1);
}

#workspaces button.urgent {
}

.modules-left,
.modules-right {
  padding: 10px 5px;
}

#custom-ncspot {
  border: 1px solid white;
  border-radius: 50px;
  padding: 5px 10px;
}

#window,
#pulseaudio,
#network,
#cpu,
#memory,
#tray,
#backlight,
#clock,
#battery {
  padding: 5px 0px;
  margin: 0px 10px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}
